html, #page { 
  padding:0;
  margin:0;
}

body { 
  margin:0;
  padding:0;
  width:100%;
  color:#959595;
  font:normal 12px/2.0em Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
  color:darkblue;
}

#page {
  background:#fff;
}

#header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar {
  margin:0;
  padding:0;
}

/* Logo */
#logo {
  padding:0;
  width:auto;
  float:left;
}

#logo h1 a, h1 a:hover {
  color:darkblue;
  text-decoration:none;
}

#logo h1 span {
  color:#d3d3f9;
}

/* Header */
#header {
  background:#fff;
}

#header-inner {
  margin:0 auto;
  padding:0;
  width:970px;
}

