/* General reset and body styling */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li a:hover, nav ul li a:focus {
  color: #ffcc00;
  outline: none; /* Remove default focus outline */
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

/* Main content styling */
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.explanation, .show-content, .contact-area {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.explanation h2, .show-content h2, .contact-area h2 {
  color: #333;
}

.show-content .product-details {
  margin-bottom: 20px;
}

.show-content a {
  color: #007BFF;
  text-decoration: none;
}

.show-content a:hover {
  text-decoration: underline;
}

/* Contact Area Styling */
.contact-area {
  flex: 0 0 50%; /* Take up half of the container width */
  max-width: 600px; /* Optional: limit the maximum width */
  box-sizing: border-box;
  padding: 20px;
  margin-left: auto; /* Center the form within its container */
  margin-right: auto; /* Center the form within its container */
}

.contact-area form {
  display: flex;
  flex-direction: column;
}

.contact-area label {
  margin-bottom: 5px;
  font-weight: 600;
}

.contact-area input, .contact-area textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-area input[type="submit"] {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.contact-area input[type="submit"]:hover {
  background-color: #0056b3;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Adding Responsiveness */
@media (max-width: 600px) {
  main {
    padding: 0 10px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    padding: 10px 0;
  }
}